
#head{
    font-family: 'Courier New', Courier, monospace;
    font-size: 22px;
    color: var(--secondary-color);
    margin-left: 2rem;
    margin-top: 1.2rem;

}

.movie-items{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding: 1rem  1.2rem;
    margin: 1rem;
}


.mv-main{
    height: auto;
  max-width: 400px;
  padding:0.5rem;

}

.desc-head{
    padding:0.5rem;
}

.desc-text{
    font-family: sans-serif, monospace;
    font-size: 16px;

}

.img-box img{
    max-height: 200px;
    width: auto;
}
