@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@400;600&family=Ubuntu&family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: rgb(205, 151, 43);
  --secondary-color: rgba(21, 32, 48, 0.945);
  --base-font: 16px;
  --large-font: 2rem;
  --medium-font: 1.5rem;
  --mid-medium-font: 1.25rem;
  --small-font: 1rem;
  --mera-red: #a02334;
  --orange-light: #ffad60;
  --peach-light: #ffeead;

  --font-winky: 'Winky Sans';
}

body {
  background-color: var(--peach-light);
  /* height: 100vh; */
  width: 100vw;
}

nav {
  height: 4rem;
  background-color: #0505058e;
  position: fixed;
  top: 0;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}

.nav-items {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* display: inline; */
}

.nav-items li a {
  color: var(--secondary-color);
  font-size: var(--mid-medium-font);
  font-weight: 700;
  text-decoration: none;
  color: #ffff;
  font-family: sans-serif, monospace;
  padding: 0 1.2rem;
}

.logo {
  display: inline;
}

/* footer */

footer {
  height: 6rem;
  background-color: var(--secondary-color);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.foot-text {
  color: #fff;
  font-family: var(--font-winky);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
